<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdx.example.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnimationKnowledgeActivity" />
        <activity android:name=".activity.DrawableAnimationActivity" />
        <activity android:name=".activity.DrawableAnimationKnowledgeActivity" />
        <activity android:name=".activity.DrawableXMLNumberActivity" />
        <activity android:name=".activity.DrawableCodeNumberActivity" />
        <activity android:name=".activity.TweenAnimationActivity" />
        <activity android:name=".activity.TweenAnimationKnowledgeActivity" />
        <activity android:name=".activity.TweenXmlScaleActivity" />
        <activity android:name=".activity.TweenCodeScaleActivity" />
        <activity android:name=".activity.TweenXmlTranslateActivity" />
        <activity android:name=".activity.TweenCodeTranslateActivity" />
        <activity android:name=".activity.TweenXmlAlphaActivity" />
        <activity android:name=".activity.TweenCodeAlphaActivity" />
        <activity android:name=".activity.TweenXmlRotateActivity" />
        <activity android:name=".activity.TweenCodeRotateActivity" />
        <activity android:name=".activity.TweenXmlZuheActivity" />
        <activity android:name=".activity.TweenInfiniteActivity" />
        <activity android:name=".activity.TweenSelfActivity" />
        <activity android:name=".activity.TweenSelfKnowledgeActivity" />
        <activity android:name=".activity.TweenSelfRotateActivity" />
        <activity android:name=".activity.PropertyAnimationActivity" />
        <activity android:name=".activity.PropertyAnimationKnowledgeActivity" />
        <activity android:name=".activity.PropertyValueAnimatorActivity" />
        <activity android:name=".activity.PropertyObjectAnimatorActivity" />
        <activity android:name=".activity.PropertyObjectAnimator2Activity" />
        <activity android:name=".activity.PropertyObjectAnimatorAllActivity"></activity>
    </application>

</manifest>